/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 5px;
  background-color: #eee;
  border-radius: 3px;
  height: 500px;
  font-weight: bold;
}
.icon-block .material-icons {
	font-size: inherit;
}
